@import url("normalize.css");
@import url("global_style.css");
@import url("header.css");
@import url("hero.css");
@import url("goods.css");
@import url("sale.css");
@import url("footer.css");
@import url("article.css");
@import url("breadcrumb.css");
@import url("blog.css");


@font-face {
    font-family: Lato;
    src: url('../fonts/lato-regular.woff2') format('woff2'),
         url('../fonts/lato-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap; /*Задаю оптимальную отрисовку шрифта*/
}

@font-face {
    font-family: Lato;
    src: url('../fonts/lato-bold.woff2') format('woff2'),
         url('../fonts/lato-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal; 
    font-display: swap; /*Задаю оптимальную отрисовку шрифта*/
}